.cabecalho__root {
    background: linear-gradient(135deg, #f6d44a70, #08720d);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    height: 70px;
}

.cabecalho__root img {
    height: 60px;
}