.cabecalho__root {
  width: 100%;

  min-height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 20px;
}

.cabecalho__root img {
  width: 140px;
  height: auto;
}

@media (max-width: 768px) {
  .cabecalho__root {
    padding: 10px 4px;
  }

  .cabecalho__root img {
    width: 120px;
  }
}